@model WebApplication1.Models.BulkImage
@{
    ViewBag.Title = "UploadPhoto";
    Layout = "~/Views/Shared/Customer.cshtml";
}





<div class="container">
    
    <div class="form-horizontal">
        <div class="form-group">
            <div class="row">
                <div class="col-md-3">
                    Select School
                    @Html.DropDownList("StSchool_SchoolId", null, htmlAttributes: new { @class = "form-control" })
                </div>
                <div class="col-md-3">
                    Select Session
                    @Html.DropDownListFor(x => Model.session, new SelectList(Model.sessionlist, "session", "session"), new { @class = "selectpicker form-control",@id="Session" })

                </div>
                <div class="col-md-6">
                    <h5>Zip File should be less than 10 MB..!</h5>
                  
                    <input type="file" name="Files" id="Files" />

                    <p>Every Image Size should be less than 200 kb..!</p>
                </div>

            </div>
            <br />
        </div>

    </div>
    <div id="uploadDetails" class="form-group">
        <div class="input-group">
            <input type="text" id="filename" class="form-control" readonly />
            <span class="input-group-btn">
                <button class="btn btn-primary" type="button" id="uploadFile"><span class="glyphicon glyphicon-upload"></span> Upload Zip File </button>

            </span>

        </div>
        <img class="img" src="~/img/giphy.gif" style="display:none" />

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
    $(document).on('click', '#uploadFile', function () {
          var fileElement = document.getElementById('Files');
        var file = fileElement.files[0];
        var formData = new FormData();
       formData.append("filename", fileElement.files[0].name);
          formData.append("Files", file, fileElement.files[0].name);
          formData.append("StSchool_SchoolId", $("#StSchool_SchoolId").val());
          formData.append("session", $("#Session").val());
        var html = $('#uploadFile').html();
        
        $.ajax({
            url: "@Url.Action("UploadFile", "Customers")",
            type: "POST",
            data: formData,
            processData: false,  // tell jQuery not to process the data
            contentType: false,   // tell jQuery not to set contentType
            
            success: function (data) {
                alert(data)
                window.location.reload = true;
             
            },
            error: function (xhr, ajaxOptions, thrownError) {
                $('#uploadFile').html(html);
                alert(xhr.responseText);
            }

        });
    });



    
   

</script>
